/*CORES*/
:root{
    --laranja: #EB9023;
    --verde: #23EB4D;
    --roxo: #664896;
    --azul: #6F23EB;
    --verde-escuro: #3F6B48;
    --fonte: #FFFFFF;
}   

/*FONTES*/
@font-face{
    font-family: 'Nexa';
    src: url('./nexa/Nexa-ExtraLight.ttf');
}
@font-face{
    font-family: 'Toony-Sans';
    src: url('./toony_sans/ToonySans_PERSONAL_USE_ONLY.otf');
}


body {
      margin: 0;
      padding: 0;
      background-image: url('background.png');
      color: var(--fonte);
    }

    .parallax-container {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: var(--color);
      row-gap: 4rem;
      text-align: center;
    }
    
    .buffer {
      width: 100%;
      min-height: 10vh;
      background-image: url('background.png');
    }
    
    .parallax-container2 {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 6rem 0;
      gap: 1.6em;
    }
    
    h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    
    p {
      max-width: 52ch;
      padding: 1em;
      line-height: 1.5;
    }
    
    .parallax-slide {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
  
    #slide1 h1{
      font-family: 'Toony-Sans';
      color: var(--fonte);
      font-size: 65px;
      letter-spacing: 7px;
      -webkit-text-stroke: 1px #0000;
      padding-top: 60px;
    }
    #slide1 p{
        font-family: 'Nexa';
        font-size: 40px;
        color: var(--fonte);
    }
  
    #slide1 img{
      width: 50px;
      height: 50px;
      align-items: center;
    }

    #slide2{
      z-index: 2;
      background-color: var(verde);
      padding: 10px;
    }
  
    .card h1{
       font-size: 40px;
       font-family: 'Nexa';
       padding-top: 20px;
    }

    .card p{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-stretch: normal;
      font-size: 35px;
      padding: 5px;
    }